name: Step 1 - CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  unit-tests:
    
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up java 21
        uses: actions/setup-java@v4 
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run Maven Unit Tests
        run: cd MongoSpringBoot && mvn clean test 
